* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* in comune con tutti i container */
.container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;

}

body {
    font-family: 'Montserrat', sans-serif;
}
/* NB INIZIO FISSO */
.fisso {
    background-color: #f5f8fa;
    height: 73.7px;

}

.container-fisso {
    height: 73.7px;
}

.nav {
    width: 95%;
    margin: 0 auto;
}

.nav-first {
    margin: 0 auto;
    text-align: center;
    line-height: 73.7px;
}

.blocco-uno {
    float: left;

}

.blocco-due {
    float: right;
}
.mic {

}

.mic img {
    width: 16px;
    height: 24px;
    float: left;
    margin-top: 22px;
    margin-right: 4px;
    margin-left: 30px;
}

.mic a {
    font-size: 14px;
    float: left;
    margin-top: 1px;
}

.contact a {
    font-size: 14px;
    border-left: 2px solid #dfe6ee;
    margin-left: 10px;
    padding: 10px;
}

.search {
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #f5f8fa;
    background-color: #f5f8fa;

}

.get {
    float: right;
    margin-left: 5px;
}

.get a {
    font-size: 12px;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    font-weight: bold;
    color: white;

}

.log-in {
    float: right;
}

.log-in a {
    font-size: 12px;
    background-color: white;
    border: 1px solid #ffac97;
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    font-weight: bold;
    font-weight: bold;
    color: #ff7a59;

}

.get button {
    color: white;
}

/* NB FINE FISSO */

/* NB INIZIO HEADER */

.primo {
    background-color: #ffffff;

}

.container-header {
    width: 100%;
    height: 82px;
}

.header-img {
    height: 82px;
    display: inline-block;
}

.header-img img {
    margin-top: 22px;
    margin-left: -180px;
}

.list-header {
    float: right;
    margin-top: 37px;
    margin-left: 50px;

}

.list-header ul {
    text-decoration: none;
    position: relative;
    left: 200px;

}

.list-header ul li {
    float: left;
    text-decoration: none;
    /* toglie i puntini */
    list-style: none;
    line-height: 50%;
}

.list-header ul li a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
    color: #33475b;
}

/* NB FINE HEADER */
/* NB INIZIO BANNER */
.secondo {
    background-color: #425b76;

}

.container-banner {
    height: 92px;
}

.testo-banner p {
    font-size: 16px;
    margin-left: 90px;
    color: white;
}

.learn-more a {
    font-size: 14px;
    background-color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    font-weight: bold;
    color: #33475b;
    float: right;
    margin-top:-29px;
    margin-right: 35px;

}
/* NB FINE BANNER */
/* NB INIZIO JUMBOTRON */
.terzo {
    background-color: #fff3ee;
    height: 693px;
}

.container-jumbotron {

}

/* NB FINE JUMBOTRON */
